
/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  --clr-primary: #B5A1E5;
  --clr-primary-on: #100E17; 
  --clr-background: #131214;
  --clr-background-on: #EAE6F2;
  --clr-surface: #1D1C1F;
  --clr-surface-on: #DDDAE5;
  --clr-surface-variant: #7B7980;
  --clr-surface-variant-2: #B9B6BF;
  --clr-outline: #3E3D40;
  --clr-aqi-1: #89E589;
  --clr-on-bg-aqi-1: #1F331F;
  --clr-aqi-2: #E5DD89;
  --clr-on-bg-aqi-2: #33311F;
  --clr-aqi-3: #E5C089;
  --clr-on-bg-aqi-3: #332B1F;
  --clr-aqi-4: #E58989;
  --clr-on-bg-aqi-4: #331F1F;
  --clr-aqi-5: #E589B7;
  --clr-on-bg-aqi-5: #331F29;
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-white-alpha-4:  hsla(0, 0%, 100%, 0.04);
  --clr-white-alpha-8: hsla(0, 0%, 100%, 0.08);
  --clr-black-alpha-10: hsla(0, 0%, 0%, 0.1);

  --gradient-1: linear-gradient(180deg, hsla(270, 5%, 7%, 0) 0%, hsla(270, 5%, 7%, 0.8) 65%, hsl(270, 5%, 7%) 100%);
  --gradient-2: linear-gradient(180deg, hsla(260, 5%, 12%, 0) 0%, hsla(260, 5%, 12%, 0.8) 65%, hsl(260, 5%, 12%) 100%);

  --shadow-1: 0px 1px 3px hsla(0, 0%, 0%, 0.5);
  --shadow-2: 0px 3px 6px hsla(0, 0%, 0%, 0.4);

  --ff-primary: 'Nunito Sans', sans-serif;

  --fs-label-1: 1.125rem;
  --fs-label-2: 1.3rem;
  --fs-body-3: 1.5rem;
  --fs-body-2: 2rem;
  --fs-body-1: 2.2rem;
  --fs-title-3: 1.6rem;
  --fs-title-2: 1.8rem;
  --fs-title-1: 2.1rem;
  --fs-heading: 5.6rem;

  --fw-regular: 400;
  --fw-semiBold: 600;

  --radius-16: 1rem;
  --radius-28: 1.75rem;
  --radius-pill: 31.25rem;
  --radius-circle: 50%;

  --transition-short: 100ms ease;
}




/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
img,
span,
input,
button {
  display: block;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  width: 100%;
}

input,
button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
}

button {
  cursor: pointer;
}

sub {
  vertical-align: baseline;
}

sup {
  vertical-align: top;
}

sub,
sup {
  font-size: 0.75em;
}

html {
  font-family: var(--ff-primary);
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-background);
  color: var(--clr-background-on);
  font-size: var(--fs-body-3);
  height: 200vh;
  overflow: hidden;
}

:focus-visible {
  outline: 2px solid var(--clr-neutral-100);
  outline-offset: 2px;
}

::selection {
  background-color: var(--clr-white-alpha-8);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-white-alpha-8);
  border-radius: var(--radius-pill);
}

/*-----------------------------------*\
  #MATERIAL ICON
\*-----------------------------------*/

@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: var(--fw-regular);
  src: url(../../assets/font/material-symbol-rounded.woff2) format('woff2');
}

.m-icon {
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  width: 1em;
  height: 1em;
  overflow: hidden;
}




/*-----------------------------------*\
  #Utility Classes & Components
\*-----------------------------------*/

.wrapper {
  max-width: 100rem;
  width: 100%;
  margin-inline: auto;
  padding: 1rem;
}

.icon--btn {
  background-color: var(--clr-white-alpha-8);
  width: 3rem;
  height: 3rem;
  display: grid;
  place-items: center;
  border-radius: var(--radius-circle);
}

.btn--primary {
  background-color: var(--clr-primary);
  color: var(--clr-primary-on);
  height: 3rem;
  line-height: 48px;
  max-width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-inline: 1rem;
  border-radius: var(--radius-pill);
}

.btn--primary .span {
  font-weight: var(--fw-semiBold);
}

.btn--primary[disabled] {
  background-color: var(--clr-outline);
  color: var(--clr-surface-variant);
  cursor: not-allowed;
}

.btn--primary[disabled]::before {
  display: none;
}

.card {
  background-color: var(--clr-surface);
  color: var(--clr-surface-on);
}

.card--lg {
  border-radius: var(--radius-28);
  padding: 1.25rem;
}

.card--sm {
  border-radius: var(--radius-16);
  padding: 1rem;
}

.heading {
  color: var(--clr-neutral-100);
  font-size: var(--fs-heading);
  line-height: 1.1;
}

.title--1 {
  font-size: var(--fs-title-1);
}

.title--2 {
  font-size: var(--fs-title-2);
  margin-block-end: .75rem;
}

.title--3 {
  font-size: var(--fs-title-3);
  font-weight: var(--fw-semiBold);
}

.body--1 {
  font-size: var(--fs-body-1);
}

.body--2 {
  font-size: var(--fs-body-2);
  font-weight: var(--fw-semiBold);
}

.body--3 {
  font-size: var(--fs-body-3);
}

.label--1 {
  font-size: var(--fs-label-1);
}

.label--2 {
  font-size: var(--fs-label-2);
}

.has-state {
  position: relative;
}

.has-state:hover {
  box-shadow: var(--shadow-1);
}

.has-state:is(:focus, :focus-visible) {
  box-shadow: none;
}

.has-state::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  clip-path: circle(100% at 50% 50%);
  transition: var(--transition-short);
}

.has-state:hover::before {
  background-color: var(--clr-white-alpha-4);
}

.has-state:is(:focus, :focus-visible)::before {
  background-color: var(--clr-white-alpha-8);
  animation: ripple 250ms ease forwards;
}

@keyframes ripple {
  0% { clip-path: circle(0% at 50% 50%);}
  100% {clip-path: circle(100% at 50% 50%);}
}



/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/


.main__header .btn--primary .span {
  display: none;
}

.logo img {
  width: 9.375rem;
}

.main__header .wrapper,
.header--actions {
  display: flex;
  align-items: center;
}

.main__header .wrapper {
  justify-content: space-between;
}

.header--actions {
  gap: 1rem;
}

.main__header .btn--primary {
  padding-inline: .75rem;
}

.search--view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--clr-surface);
  color: var(--clr-surface-on);
  clip-path: circle(4% at calc(100% - 102px) 5%);
  opacity: 0;
  visibility: hidden;
  z-index: 4;
  transition: clip-path 500ms ease;
}

.search--view.active {
  opacity: 1;
  visibility: visible;
  clip-path: circle(130% at 73% 5%);
}

.search--wrapper {
  position: relative;
  border-block-end: 1px solid var(--clr-outline);
}

.search--wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border: 3px solid var(--clr-surface-on);
  border-block-start-color: transparent;
  border-radius: var(--radius-circle);
  animation: loading 500ms linear infinite;
  display: none;
}

@keyframes loading {
  0% {transform: translateY(-50%) rotate(0);}
  100% {transform: translateY(-50%) rotate(1turn);}
}

.search--wrapper:has(.searching)::before {
  display: block;
}

.search--field {
  height: 5rem;
  line-height: 80px;
  padding-inline: 3.5rem 1rem;
  outline: none;
}

.search--field::placeholder {
  color: var(--clr-surface-variant-2);
}

.search--field::-webkit-search-cancel-button {
  display: none;
}

.search--wrapper .leading--icon {
  position: absolute;
  top: 50%;
  left: 1.8125rem;
  transform: translate(-50%, -50%);
}

.search--wrapper > .m-icon {
  display: none;
}

.search--wrapper .icon--btn {
  background-color: transparent;
  box-shadow: none;
}

.search--view .view--list {
  padding-block: .5rem 1rem;
}

.search--view .view--item {
  position: relative;
  height: 3.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding-inline: 1rem 1.5rem;
}

.search--view .view--item :is(.m-icon, .item--subtitle) {
  color: var(--clr-surface-variant);
}

.search--view .view--item .item--link {
  position: absolute;
  inset: 0;
  box-shadow: none;
}

/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/

main {
  height: calc(100vh - 5rem);
  overflow: hidden;
}

article.wrapper {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 1.25rem;
  height: 100%;
  overflow-y: overlay;
}

article.wrapper::-webkit-scrollbar-thumb {
  background-color: transparent;
}

article.wrapper:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
  background-color: var(--clr-white-alpha-8);
}

article.wrapper::-webkit-scrollbar-button {
  height: 10px;
}

article.wrapper::before {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5rem;
  background-image: var(--gradient-1);
  pointer-events: none;
  z-index: 1;
}

.section:not(:last-child) {
  margin-block-end: 1rem;
}

.current-weather--card .weather {
  margin-block: .75rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.current-weather--card .weather--icon {
  margin-inline: auto;
}

.current-weather--card > .body--3 {
  text-transform: capitalize;
}

.current-weather--card .meta--list {
  margin-block-start: 1rem;
  padding-block-start: 1rem;
  border-block-start: 1px solid var(--clr-outline);
}

.current-weather--card .meta--item {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.current-weather--card .meta--item:not(:last-child) {
  margin-block-end: 0.75rem;
}

.current-weather--card .meta--text {
  color: var(--clr-surface-variant);
}



/*-----------------------------------*\
  #CURRENT WEATHER
\*-----------------------------------*/





/*-----------------------------------*\
  #HIGHLIGHTS
\*-----------------------------------*/

.forecast--card .title--2 {
  margin-block-end: 0;
}

.forecast--card :is(.card--item, .icon--wrapper) {
  display: flex;
  align-items: center;
}

.forecast--card .card--item:not(:last-child) {
  margin-block-end: 12px;
}

.forecast--card .icon--wrapper {
  gap: .8rem;
}

.forecast--card .label--1 {
  color: var(--clr-surface-variant);
  font-weight: var(--fw-semiBold);
}

.forecast--card .card--item > .label--1 {
  width: 100%;
  text-align: right;
}

/*-----------------------------------*\
  #HOURLY FORECAST
\*-----------------------------------*/


.highlights .m-icon {
  font-size: 3.2rem;
}

.highlights--list {
  display: grid;
  gap: 1.25rem;
}

.highlights--list .title--3 {
  color: var(--clr-surface-variant);
  margin-block-end: 1.25rem;
}

.highlights .card--sm {
  position: relative;
  background-color: var(--clr-black-alpha-10);
}

.highlight--card :is(.highlight--wrapper, .card--list, .card--item) {
  display: flex;
  align-items: center;
}

.highlight--card .highlight--wrapper {
  justify-content: space-between;
  gap: 1rem;
}

.highlight--card .card--list {
  flex-wrap: wrap;
  flex-grow: 1;
  row-gap: .5rem;
}

.highlight--card .card--item {
  width: 50%;
  justify-content: flex-end;
  gap: 4px;
}

.highlight--card .label--1 {
  color: var(--clr-surface-variant);
}

.badge {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 2px 12px;
  border-radius: var(--radius-pill);
  font-weight: var(--fw-semiBold);
  cursor: help;
}

.badge.aqi--1 {
  background-color: var(--clr-aqi-1);
  color: var(--clr-on-bg-aqi-1);
}

.badge.aqi--2 {
  background-color: var(--clr-aqi-2);
  color: var(--clr-on-bg-aqi-2);
}

.badge.aqi--3 {
  background-color: var(--clr-aqi-3);
  color: var(--clr-on-bg-aqi-3);
}

.badge.aqi--4 {
  background-color: var(--clr-aqi-4);
  color: var(--clr-on-bg-aqi-4);
}

.badge.aqi--5 {
  background-color: var(--clr-aqi-5);
  color: var(--clr-on-bg-aqi-5);
}

.highlight--card.two .card--item {
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: .5rem 1rem;
}

.highlight--card.two .label--1 {
  margin-block-end: 4px;
}

/*-----------------------------------*\
  #FORECAST
\*-----------------------------------*/

.slider--wrapper {
  margin-inline: -1rem;
  overflow-x: auto;
}

.slider--wrapper::-webkit-scrollbar {
  display: none;
}

.slider--list {
  display: flex;
  gap: 12px;
}

.slider--list:first-child {
  margin-block-end: 1rem;
}

.slider--list::before,
.slider--list::after {
  content: "";
  min-width: 4px;
}

.slider--item {
  flex: 1 1 100%;
  min-width: 6.875rem;
}

.slider--card {
  text-align: center;
}

.slider--item .weather--icon {
  margin-inline: auto;
  margin-block: .75rem;
}


/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer,
.footer .body--3:last-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer {
  color: var(--clr-surface-variant);
  text-align: center;
  gap: .75rem 1.5rem;
  margin-block-start: 1.75rem;
  display: none;
}

.fade-in .footer {
  display: flex;
}

.footer .body--3:last-child {
  gap: 6px;
}


/*-----------------------------------*\
  #LOADING
\*-----------------------------------*/

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-background);
  /*display: grid;*/
  place-items: center;
  z-index: 1;
  display: none;
}

.loading::before {
  content: "";
  width: 48px;
  height: 48px;
  border: 4px solid var(--clr-background-on);
  border-block-start-color: transparent;
  border-radius: var(--radius-circle);
  animation: loading 500ms linear infinite;
}

/*-----------------------------------*\
  #ERROR SECTION
\*-----------------------------------*/

.error--content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--clr-background);
  /*display: flex;*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 8;
}

.error--content .btn--primary {
  margin-block-start: 1.25rem;
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

@media (min-width: 768px) {
  .wrapper {
    padding: 1.5rem;
  }

  .title--1 {
    --fs-title-1: 2.4rem
  }

  .section > .title--2 {
    margin-block-end: 1rem;
  }

  .card--lg {
    padding: 1.5rem;
  }

  .card--sm {
    padding: 1.25rem;
    display: grid;
    grid-template-rows: min-content 1fr;
  }

  .badge {
    top: 1.25rem;
    right: 1.25rem;
  }

  .header--actions {
    gap: 1.5rem;
  }

  .main__header .btn--primary {
    padding-inline: 1rem 1.5rem;
  }

  .main__header .btn--primary .span {
    display: block;
  }

  .search--view {
    clip-path: circle(3% at calc(100% - 273px) 6%);
  }

  main {
    height: calc(100vh - 96px);
  }

  article.wrapper {
    padding-block-start: 0;
    grid-template-columns: 17.5rem minmax(0, 1fr);
    align-items: flex-start;
    gap: 1.5rem;
  }

  .content--left {
    position: sticky;
    top: 0;
  }

  .section:not(:last-child) {
    margin-block: 1.25rem;
  }

  .forecast--card .card--item:not(:last-child) {
    margin-block-end: 1rem;
  }

  .highlights--list {
    grid-template-columns: 1fr 1fr;
  }

  .highlight--card:nth-child(-n+2) {
    grid-column: span 2;
    /*height: 10rem; */
  }

  /*.highlight--card:nth-child(n+3) {
    height: 7.5rem;
  } */

  .highlights .m-icon {
    font-size: 3.6rem;
  }

  .highlight--card.one .card--item {
    width: 25%;
    flex-direction: column-reverse;
    gap: .5rem;
  }

  .slider--wrapper {
    margin-inline: 0 -1.5rem;
    border-bottom-left-radius: var(--radius-16);
    border-top-left-radius: var(--radius-16);
  }

  .slider--list::before {
    display: none;
  }

  .slider--list::after {
    min-width: 0.75rem;
  }

  .hourly--forecast .card--sm {
    padding: 1rem;
  }
}

@media (min-width: 1200px) {
  
  .wrapper {
    padding: 2.5rem;
  }

  .card--lg {
    padding: 1.5rem;
  }

  .card--sm {
    padding: 1.5rem;
  }

  .title--1 {
    --fs-title-1: 2rem
  }

  .highlight--card.two .card--item {
    column-gap: 1.5rem;
  }

  .main__header .icon--btn {
    display: none;
  }

  .logo img {
    width: 12.5rem;
  }

  .main__header {
    position: relative;
    height: 7.5rem;
    z-index: 4;
  }

  .main__header .wrapper {
    padding-block: 0;
    height: 100%;
  }

  .search--view,
  .search--view.active {
    all: unset;
    display: block;
    position: relative;
    width: 31.25rem;
    animation: none;
  }  

  .search--wrapper {
    border-block-end: none;
  }

  .search--wrapper > .m-icon {
    display: block;
  }

  .search--field,
  .search--view .view--list {
    background-color: var(--clr-surface);
  }

  .search--field {
    height: 3.5rem;
    border-radius: var(--radius-28);
  }

  .search--result,
  .search--view:not(:focus-within) .search--result {
    display: none;
  }

  .search--view:focus-within .search--result.active {
    display: block;
  }

  .search--view:has(.search--result.active):focus-within .search--field {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .search--view .view--list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 22.5rem;
    border-radius: 0 0 var(--radius-28) var(--radius-28);
    border-block-start: 1px solid var(--clr-outline);
    overflow-y: overlay;
  }

  .search--view .view--list:empty {
    min-height: 7.5rem;
  }

  .search--view:is(:hover, :has(.view--list):hover) {
    filter: drop-shadow(var(--shadow-1));
  }

  .search--view:is(:focus-within, :has(.view--list) :focus-within) {
    filter: drop-shadow(var(--shadow-2));
  }

  article.wrapper {
    grid-template-columns: 22.5rem minmax(0 1fr);
    gap: 2.5rem;
  }

  .current--weather .weather--icon {
    width: 5rem;
  }

  .highlight--card .m-icon {
    font-size: 4.5rem;
  }

  .slider--list {
    gap: 1rem;
  }
}